name: Test Replacer

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: Readme-Workflows/readme-replacer@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_EMAIL: "derrickeberlein@gmail.com"
          COMMIT_NAME: "Derrick Eberlein"
          COMMIT_FILE: "./README.md"
          TIMEZONE: "America/New_York"

      - uses: actions-js/profile-readme@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          username: ReverendTrivium
          template: "README.md"

      - uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
