name: Update README

on:
  schedule:
    - cron: '*/240 * * * *' # Update every 240 minutes
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update Profile README

    steps:
      - uses: actions/checkout@v6
      #
      # "{version}" is a placeholder and should be replaced with the latest release of recent-activity
      - uses: Readme-Workflows/recent-activity@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          CONFIG_FILE: "./.github/update-readme.config.yml"
